form {
    margin-top: 190px;
 }
 h1 {
     font-size: 30px;
     margin-left: 350px;
 }
 h2 {
     font-size: 30px;
     margin-left: 350px;
 }
 h3 {
     margin-top: -10px;
     font-size: 30px;
     margin-left: 700px;
 }
 input[type=text]{
     width:200px; 
     height:25px;
     margin-top: -10px;
 }